html, body, #root {
  height: 100%;
}

.app {
  background-color: aliceblue;
  height: 100%;
  padding: 24px;

  display: grid;
  gap: 12px;
  grid-template-rows: 3rem 1fr 3rem;
}

.app > * {
  border: solid 2px slateblue;
  border-radius: 24px;
}